* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: darkgoldenrod;
}
.container {
    background-color: wheat;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;

}
form {
    margin: 2rem 0rem 1rem 0rem;
}
form select, input, button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;

}
form input {
    border: 1px solid brown;
    font-size: 1rem;
    height: 2.5rem;
    padding-left: 0.5rem;
}
.dropdown {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;

}
.select-container img {
    max-width: 2rem;
}
.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 6rem;
    border: 1px solid brown;
    
}
.select-container select {
    font-size: 1rem;
    width: auto;
    background-color: wheat;

}
#msg {
    margin: 2rem 0rem 2rem 0rem;
}
form button {
    height: 3rem;
    background-color: chocolate;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;

}